#message-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    margin: 0;
    padding: 0;
}

.scroll-bg {
    background-color: rgb(243, 243, 240);
    border-radius: 1rem;
}

.scroll-div {
    height: 500px;
    overflow-y: scroll;
}

.scroll-obj {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    background: black;
    overflow: hidden;
}

h1 {
    color: white;
}

input {
    box-shadow: 0 0 15px 4px rgba(233, 20, 20, 0.06);
}

button {
    appearance: none;
    -webkit-appearance: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
}

.scroll-div::-webkit-scrollbar {
    background-color: transparent;
    /* Set the background color to match the container */
}

.scroll-div::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    /* Set the background color to match the container */
}

#message-container div{
    margin-top: 10px;
}